.wrap {
  display: flex;
}

.wrapped {
  width: 50vw;
}

.blue-button {

  background-color:#2dabf9;
  margin: 2vw;
	border-radius:0px;
	border:0px;
	display:inline-block;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	padding:9px 23px;
  
}

.title {
  font-size: 17px;
  margin: 2vw;
}

.text {
  font-size: 15px;
  margin: 2vw;
}

li {
  
  list-style: none;
  display: inline;
  margin: 1em;
  text-align: center;
}


.display-block {
  display: block;
}

.display-none {
  display: none;
}
.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.2);
}

.modal-wrap {
  margin-top: 20vh;
  text-align: center;
  border: solid black 1px;
  position: fixed;
  background: white;
  width: 80vw;
  height: 30vh;
  top: 5%;
  left: 5%;
  z-index: 99;
}
